{% extends 'TaxiApp/base.html' %}

{% block title %}
Водители
{% endblock %}

{% block entity_name %}
Водители
{% endblock %}

{% block cycle %}
    {% for el in driver_items %}
	<div>
		<h2>Фамилия: {{ el.surname }}</h2>
		<p>Имя: {{ el.name }}</p>
		<p>Отчество: {{ el.lastName}}</p>
        <p>Дата рождения: {{ el.birthDate}}</p>
        <p>ИНН: {{ el.inn}}</p>
        <p>Серия и номер паспорта: {{ el.serno}}</p>
        <p>Автомобиль: {{ el.vehicle}}</p>
        <h3>Даты заказов:</h3>
        {%if el.order_set.all|length > 0%}
            <ul>
                {%for order in el.order_set.all%}
                    <li>{{ order.dateTime }}</li>
                {%endfor%}
            </ul>
        <!-- {elif True} -->
        {%else%}
            <p>Нет заказов</p> 
        {%endif%}
        <hr>
	</div>
	{% endfor %}
{% endblock %}